<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <% if @events.present? %>
        <thead>
          <tr>
            <th></th>
            <th>イベント名</th>
            <th>内容</th>
            <th>開催日時</th>
            <th>予約状況</th>
            <th>受付状況</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= attachment_image_tag event, :image , fallback:"no_image.jpg", size:'100x100'%></td>
              <td><%= link_to event.event_name, event_path(event.id)%></td>
              <td><%= event.content %></td>
              <td><%= l event.date_and_time %></td>
              <td><%= event.number_of_reservations %>人</td>
              <td>
                <% if event.is_active == true %>
                  予約受付中
                <% else %>
                  終了
                <% end %>
              </td>
            </tr>
          <% end %>
        <tbody>
      <% else %>
        <td>イベントが開催されるまで少々お待ちください</td>
      <% end %>
    </table>
  </div>
</div>