<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">

      <thead>
          <tr>
            <th></th>
            <th>イベント名</th>
            <th>イベント内容</th>
            <th>　開催日時</th>
            <th>予約上限人数</th>
            <th>受付状況</th>
            <th>予約状況</th>
          </tr>
      </thead>

        <tbody>
          <tr>
            <td><%= attachment_image_tag @event, :image , fallback:"no_image.jpg", size:'100x100'%></td>
            <td><%= @event.event_name%></td>
            <td><%= @event.content %></td>
            <td><%= l @event.date_and_time %></td>
            <td>　　<%= @event.number_of_reservations %>人</td>
            <% if @event.is_active == true %>
              <td>予約受付中</td>
              <td>　<%= "#{@event.reservations.count} " %>/<%= @event.number_of_reservations %></td>
              <td><%= link_to "参加する！", new_event_reservation_path(@event), class: "btn btn-primary btn-md" %></td>
            <% else %>
              <td>このイベントは終了しています</td>
              <td><%= link_to "イベント一覧へ", events_path %></td>
            <% end %>
          </tr>

          <!-- 参加者コメント -->
          <% @event.event_comments.each do |e| %>
              <tr>
                  <td><%= e.participant.nickname %></td>
                  <td><%= e.comment %></td>
                  <% if e.participant_id == current_participant.id %>
                    <td><%= link_to "コメント削除",event_event_comments_path(@event,@event_comment), method: :delete, class: "btn btn-danger btn-md" %></td>
                  <% end %>
              </tr>
            <% end %>
        
        <!-- コメント投稿フォーム -->
        <%= form_with model:[@event,@event_comment], local: true do |f| %>
          <tr>
            <td><%= f.text_area :comment, autofocus: true %></td>
            <td><%= f.submit "送信" %></td>
          </tr>
        <% end %>
      
        </tbody>
    </table>
  </div>
</div>