<div class="container mt-4">
  <div class="col-md-5 col-md-offset-4">
    <h3>会員情報編集</h3>
	
	<%= form_with model: @participant, url: organizers_participant_path(@participant.id), local: true do |f| %>

		<!-- ニックネーム -->
		<div class="form-group">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, :size=>"40", autofocus: true %>
		</div>

		<!-- 電話番号 -->
		<div class="form-group">
			<%= f.label :telephone_number %><br>
			<%= f.text_field :telephone_number, :size=>"40", autofocus: true%>
		</div>

		<!-- 　email　 -->
		<div class="form-group">
			<%= f.label :email %><br>
			<%= f.text_field :email, :size=>"40", autofocus: true%>
		</div>

		<!-- 在籍ステータス -->
		<div class="form-group">
			<%= f.label :is_deleted, "在籍ステータス"%><br>
			<%= f.select :is_deleted, {'退会済': true, '在籍中': false}, { class: 'form-control' , required: true } %>
		</div>

		<%= f.submit '変更する', data: { confirm: "本当に変更してもよろしいですか？" }, class:"btn btn-info btn-md" %>

	<% end %>
  </div>
</div>