<table class="table">
  <thead>
      <tr>
        <th>会員ID</th>
        <th>ニックネーム</th>
        <th>電話番号</th>
        <th>メール</th>
        <th>ステータス</th>
      </tr>
    </thead>
  <tr>
    <td><%= @participant.id %>
    <td><%= @participant.nickname %></td>
    <td><%= @participant.telephone_number %></td>
    <td><%= @participant.email%></td>
    <% if @participant.is_deleted == true %>
      <td>退会済</td>
    <% else %>
      <td>在籍中</td>
    <% end %>
    <td><%= link_to '編集する', edit_organizers_participant_path, class: "btn btn-primary btn-md" %></td>
    <td><%= link_to 'メールする', "#", class: "btn btn-primary btn-md" %></td>
    <td><%= link_to '参加イベント', "#", class: "btn btn-primary btn-md" %></td>
  </tr>
</table>