<h2>パスワードをお忘れですか？</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "participants/shared/error_messages", resource: resource %>

  <div class="field">
    <strong>Eメール</strong><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再設定のメールを送ります", class: "btn btn-primary btn-md mt-3" %>
  </div>
<% end %>

<%= render "participants/shared/links" %>
