<h3>下記の内容でメールを送信しますか？</h3>

<dl>
	<dt>送信先メールアドレス</dt>
	<dd><%= @info.participant.email %></dd>
	<dt>メッセージ</dt>
	<dd><%= @info.message %></dd>
</dl>

<%= form_with model: @info, url: organizers_participant_back_path, method: :post, local: true do |f| %>
	<%= f.hidden_field :participant_id %>
	<%= f.hidden_field :message %>
	<%= f.submit '入力画面に戻る' %>
<% end %>

<%= form_with model: @info, url: organizers_participant_infos_path(@info.participant_id,@info), method: :post, local: true do |f| %>
	<%= f.hidden_field :participant_id %>
	<%= f.hidden_field :message %>
	<%= f.submit '送信する' %>
<% end %>