<%= form_with model: @info, url: organizers_participant_infos_path, local: true do |f| %>

  <div class="form-group">
    <%= f.label :email, '返信先メールアドレス' %>
    <%= @participant.email %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お客様への連絡事項' %>
   <%= f.text_area :message, size: '10x10', class: 'form-control' %>
 </div>

  <%= f.submit '送信' %>

<% end %>