<div class="container mt-4">
  <div class="col-md-8 offset-md-4">
    <h3>送信済みメール詳細</h3>
    <div class="show-text">
      <p>会員ニックネーム：<%= @info.participant.nickname %></p>
      <p>メールアドレス：<%= @info.participant.email %></p>
      <p>内容：<%= @info.message %></p>
      <p>送信日時：<%= l @info.created_at %></p>
      <%= link_to "メール送信一覧へ", organizers_infos_path %>
    </div>
  </div>
</div>
              