<header>
  <nav class="nav">
    <ul class="navber-left">
      <li class="nav-item-logo">
        <%= link_to root_path do %>
        <%= image_tag "logo2.png", class: "nav-link-logo"%>
        <% end %>
      </li>
    </ul>
    <div class="navbar-right">
      <ul class="nav navbar">
        <li class="nav-item">
          <%= link_to "イベント一覧", events_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ", participant_path(current_participant), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "参加イベント", participant_reservations_path(current_participant), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_participant_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>