<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <table class="table">
      <tr>
        <th>イベント名:</th><td><%= @event.event_name%></td>
      </tr>
      <tr>
        <th>イベント内容:</th><td><%= @event.content %></td>
      </tr>
      <tr>
        <th>開催日時:</th><td><%= l @event.date_and_time %></td>
      </tr>
      <tr>
        <th>開催状況:</th>
        <% if @event.is_active == true %>
          <td>開催中</td>
        <% end %>
      </tr>
    </table>
    <%= form_with model: @event, url: edit_event_path(@event.id), local: true do |f| %>

      <%= f.fields_for @reservation do |reservation| %>
        <%= f.hidden_field :event_id, :value => @event.id %>
        <%= f.hidden_field :event_name, :value => @event_name %>
        <div class="form-group">
          <p>※予約は５人まで可能です。</p>
          <p>予約人数に限りがあり、予約枠が埋まっている場合もございます。</p>
          <p>あらかじめご了承くださいませ。</p>
          <%= reservation.text_field :number_of_reservations %>
        </div>
      <%= f.submit '予約する',class:"btn btn-primary btn-md" %>
      <% end %>
    
    <% end %>
  </div>
</div>