<div class="container">
  <h2>参加イベント</h2>
  <table class="table">
    <thead>
      <tr>
      <th></th>
      <th>イベント名</th>
      <th>イベント内容</th>
      <th>開催日時</th>
      <th>開催状況</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <% @participant.reserved_events.each do |r| %>
        <tr>
          <td><%= attachment_image_tag r, :image , fallback: "no_image.jpeg", size: '40x40'%></td>
          <td><%= link_to r.event_name, event_path(r) %></td>
          <td><%= r.content %></td>
          <td><%= l r.date_and_time %></td>
          <% if !(r.is_active == false) && r.date_and_time >= DateTime.now %>
            <td>開催前</td>
            <% if participant_signed_in? && r.reservations.pluck(:participant_id).include?(current_participant.id) %>
              <td><%= link_to "イベントキャンセル", participant_reservation_path(event_id: r.id, id: current_participant.id), method: :delete, "data-confirm" => "本当にキャンセルしてもよろしいですか？", class: "btn btn-danger btn-md" %></td>
            <% end %>
          <% else %>
            <td>終了</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 