<div class="container mt-4">
  <h4>作成イベント一覧(作成順)</h4>
  <table class="table mt-5">
    <% if @events.present? %>
      <thead>
        <tr>
          <th>ID</th>
          <th>イベント画像</th>
          <th>イベント名</th>
          <th>内容</th>
          <th>日時</th>
          <th>参加可能人数</th>
          <th>開催ステータス</th>
          <th>予約人数/予約上限</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= attachment_image_tag event, :image , fallback:"no_image.jpg", size:'100x100'%></td>
            <td><%= link_to event.event_name, organizers_event_path(event.id)%></td>
            <td><%= event.content %></td>
            <td><%= l event.date_and_time %></td>
            <td>　　<%= event.number_of_reservations %>人</td>
            <% if !(event.is_active == false) && event.date_and_time >= DateTime.now %>
              <td>　開催中</td>
            <% else %>
              <td>　開催終了</td>
            <% end %>
            <td>　　　<%= "#{event.reservations.count} " %>/<%= event.number_of_reservations %></td>
            <td><%= link_to "予約者一覧",organizers_event_reservations_path(event,@reservation)%></td>
          </tr>
        <% end %>
      <tbody>
    <% else %>
      <td>新しいイベントを開催しましょう☺︎</td>
    <% end %>
  </table>
  <div class="text-center">
    <%= paginate @events %>
  </div>
  <span class="back">
    <a href="">
      <img src="assets/up.png" alt="">
    </a>
  </span>
</div>