<!DOCTYPE html>
<html>
  <head>
    <title>MushimeganeMura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XQGB5S74JN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XQGB5S74JN');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if organizer_signed_in? %>
      <main>
        <div>
          <%= notice %>
          <%= alert %>
        </div>
        <%= render "shared/header_organizer" %>
        <%= yield %>
      </main>
    <% elsif /\/organizers/ =~ request.fullpath %>
      <main>
        <div>
          <%= notice %>
          <%= alert %>
        </div>
        <%= render "shared/header_before_organizer" %>
        <%= yield %>
      </main>
    <% elsif participant_signed_in? %>
      <main>
        <div>
          <%= notice %>
          <%= alert %>
        </div>
        <%= render "shared/header_participant" %>
        <%= yield %>
      </main>
    <% else %>
      <main>
        <div>
          <%= notice %>
          <%= alert %>
        </div>
        <%= render "shared/header_before_participant" %>
        <%= yield %>
      </main>
    <% end %>
      <footer class="fixed-bottom"></footer>
  </body>
</html>
