<!DOCTYPE html>
<html>
  <head>
    <title>MushimeganeMura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>

  <body>
    <% if organizer_signed_in? or /\/organizers/ =~ request.fullpath %>
      <main>
        <div>
          <%= notice %>
          <%= alert %>
        </div>
        <%= render "shared/header_organizer" %>
        <%= yield %>
      </main>
    <% elsif participant_signed_in? && /\/organizers/ !~ request.fullpath %>
      <main>
        <div>
          <%= notice %>
          <%= alert %>
        </div>
        <%= render "shared/header_participant" %>
        <%= yield %>
      </main>
    <% else %>
      <main>
        <div>
          <%= notice %>
          <%= alert %>
        </div>
        <%= render "shared/header_before_participant" %>
        <%= yield %>
      </main>
    <% end %>
  </body>

  <% if organizer_signed_in? && /\/organizers/ !~ request.fullpath %>
    <footer class="footer"></footer>
  <% end %>
</html>
